

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";

$secondary-color: color("green", "lighten-2") !default;

@import 'materialize';

@import url(http://fonts.googleapis.com/css?family=VT323);


/*<><><><><>MEDIAQUERIES IN SCSS<<><><><><><>*/

$break-small: 660px;

/*<><><><><><><><>*/
body{
  background: -webkit-linear-gradient(black, midnightblue, maroon); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, midnightblue, maroon); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, midnightblue, maroon); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, midnightblue, maroon); /* Standard syntax */
  background-repeat: repeat;
  height:100vh;
  overflow: auto;

}
/*<><><><><>TITLE<><><><><>*/
.titleAndeddo{
  left:30%;
  margin-top:-3%;
  position: fixed;
  z-index: 9999;
  color:lightgreen;
  text-shadow:2px 2px 2px green;
  text-align: center;
  font-family: 'VT323',monospace;
  @media screen and (max-width: $break-small) {
    font-size:1.5em;
  }
}

.titleAndeddo.small{
  font-size: 1.5em;
  z-index: 9777;
  right:5px;
  text-align: right;
}
/*<><><><><>SIGN UP<><><><><>*/
.starting{
  margin-top:5%;
}
.login{
  opacity: 0;
  height:0;
  transition: height 0.75s ease, opacity 0.5s ease 0.05s;
  border:1px solid green;
  background-color: whitesmoke;
  z-index: 999;
  position: relative;
}


.signup{
  height:300px;
  opacity: 1;
  transition: height 0.75s ease, opacity 0.5s ease 0.05s;
  border:1px solid green;
}

.lower{
  transition:opacity 0.1s ease 0.75s;
}

.show{
  opacity: 1;
  height:300px; 
}
.collapse{
  opacity: 0;
  height:0;
}

/*.collapse .lower {
  display:none;
}*/

.button{
 position:relative;
 font-family: 'VT323', monospace;
 font-size: 1.5em;
 display: block;
 margin:0 auto;
 color:#666;
}

.button:hover{
  background-color: lightgreen;
}
#new{
  cursor: pointer;
}

#togglelog{
  cursor: pointer;
  position: relative;
  z-index: 9999;
}
.modal{
  visibility: visible;
  display:block;
  opacity: .9;
  padding:5px;
  z-index: 999;
  width:60vw;
  height:100%;
  background-color: #white;
}
.modal h3{
  text-align:center;
  padding-top:5px;
  color:#666;
  font-family: 'VT323', monospace;
  text-shadow:1px 1px 1px green;
  letter-spacing: .1em;
  text-transform: uppercase;
  background:cornsilk;
}

.modal input{
  font-size: 2em;
  font-family: 'VT323', monospace;
  letter-spacing: .1em;
}


.lower{
  position:relative;
  z-index: 9888
}


.logout{
  position: fixed;
  margin-top:2%;
  margin-left:90%;
  z-index: 9999;
}
/*<><><><><>GAME<><><><><>*/
canvas{
  position:absolute;
  z-index: 2;
  margin-top:0;


}
.play{
  position: relative;
  z-index: 777;
  display:inline-block;
  width:100%;
  height:80vh;


}

/*.morning{
  background: -webkit-linear-gradient(white, skyblue,white); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(white, skyblue,white);  For Opera 11.1 to 12.0 
  background: -moz-linear-gradient(white, skyblue,white); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(white, skyblue,white); /* Standard syntax */

/*}*/


/*<><><><><>MESSAGE<><><><><><>*/
.messagealert{
  position: fixed;
  top:8%;
  left:13%;
  border-radius: 5px;
  padding:5px;
  color:black;
  font-size: 1rem;
  z-index: 777;
  background-color: cornsilk;
  opacity: .9;
  font-family: 'VT323', monospace;
  transition:1s;
  opacity: 0;
  -webkit-animation-name: floating;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}


.showmessage{
  opacity: 1;
}



.triangle{
  position: absolute;
  width:15px;
  height:15px;
  margin-top:-5px;
  margin-left: 10px;
  transform: rotate(45deg);
  background-color: cornsilk;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);  
  }
  50% {
    -webkit-transform: translateY(8%);  
  } 
  100% {
    -webkit-transform: translateY(0%);
  }     
}

/*<><><><><>NAV & STATS<><><><><>*/

.nav{
  background-color: whitesmoke;
  height:40vh;
  width:8vw;
  margin-top:-2%;
  margin-left: 3%;
  position:fixed;
  display: inline-block;
  z-index: 999;
  padding:5px;
  border-radius:5px;
  opacity: .8;

  label{
    font-size:1.2em;
    text-align: center;
    display: block;
    border-bottom:1px solid gray;
    border-top:1px solid gray;

  }

}

.play label{
  font-family: 'VT323', monospace;
}
.nav label{
  font-family: 'VT323', monospace;
}
.stats{
  background-color: whitesmoke;
  height:28%;
  width:20vw;
  bottom:20%;
  margin-left: 3%;
  position:fixed;
  display: inline-block;
  z-index: 999;
  border-radius:5px;
  opacity: .8;

  label{
    font-size:1.2em;
    text-align: center;
    display: block;
    border-top:1px solid gray;
    margin-top:5%;
  }

  label:first-child{
    margin-top:0;
    
  }
}

.brain{
  width:45px;
  height:45px;
  margin:0 auto;
  display:block;
  background-image: url('https://dl.dropboxusercontent.com/u/89221222/Brain.svg');
  background-size:100% auto;
  background-repeat: no-repeat;
   @media screen and (max-width: $break-small) {
    width: 30px;
    height:30px;
  }
}
.foot{
  width:45px;
  height:45px;
  margin:0 auto;
  display:block;
  background-image: url('https://dl.dropboxusercontent.com/u/89221222/8Bit_Foot.svg');
  background-size:100% auto;
  background-repeat: no-repeat;
  @media screen and (max-width: $break-small) {
    width: 30px;
    height:30px;
  }
}

.sun{
  width:45px;
  height:45px;
  margin:0 auto;
  display:block;
  background-image: url('https://dl.dropboxusercontent.com/u/89221222/Sun.svg');
  background-size:100% auto;
  background-repeat: no-repeat;
  background-color: blue;
  border-radius:20%;
  margin-top:5%;
  @media screen and (max-width: $break-small) {
    width: 30px;
    height:30px;
  }

}

.moon{
  width:45px;
  height:45px;
  margin:0 auto;
  display: block;
  background-image: url('https://dl.dropboxusercontent.com/u/89221222/Moon.svg');
  background-size:100% auto;
  background-repeat: no-repeat;
  background-color: black;
  border-radius:20%;
  margin-top:5%;
  @media screen and (max-width: $break-small) {
    width: 30px;
    height:30px;
  }

}
.gray{
  -webkit-filter: grayscale(100%);
  opacity:.5;
}

.bar{
  margin: 2% auto;
  width:90%;
  height:10%;
  border:1px solid black;
  border-radius: 15px;
  overflow: hidden;
}



.fillhealth{
  background-color: red;
  height:100%;
  width:1%;
}
.fillhealth.one{
  width:33%;
}
.fillhealth.two{
  background-color: green;
  width:66%;
}
.fillhealth.three{
  background-color: green;
  width:100%;
}


.fillfull{
  background-color: red;
  height:100%;
  width:1%;
}
.fillfull.one{
  width:33%;
}
.fillfull.two{
  background-color: green;
  width:66%;
}
.fillfull.three{
  background-color: green;
  width:100%;
}

.agedisplay{
  font-family: 'VT323', monospace;
  text-align: center;
  display: block;
}
/*<><><><><>GOTCHIS<><><><><>*/
.gotchi{
 transition: 3s;
 transition-property:transform;
 transition-timing-function: cubic-bezier(.5,.18,.42,1);
 display: block;
 margin:0 auto;
}
.thegotchi{
  background-size:cover;
  background-repeat: no-repeat;
  height:300px;
  position: relative;
  z-index: 997;
  width: 300px;
  margin-left:350px;
  margin-top:60px;
  transition:background-image 0s;
  transition: .5s;
  transition-property:transform;
  transition-timing-function: cubic-bezier(.16,1.37,.81,.25);
}
.gotchi-1{
  background-image:url('https://dl.dropboxusercontent.com/u/89221222/1_tadpoleGreen.svg');
}

.gotchi-2{
  background-image:url('https://dl.dropboxusercontent.com/u/89221222/3_Toddler.svg');

}
.gotchi-3{
  background-image:url('https://dl.dropboxusercontent.com/u/89221222/4_Adult.svg');

}

.gotchi-1.moving{
  width:305px;
  height:305px;
}
.gotchi-2.moving{
  width:305px;
  height:305px;
}
.gotchi-3.moving{
  width:305px;
  height:305px;
}

.eye:first-child{
  margin-left:29%;
  margin-top:12%;
}

.eye:nth-child(2){
  margin-left:0%;
  margin-top:12%;
}

.eye {

  float:left;
  width:70px;
  height:70px;
  background-image:url('https://dl.dropboxusercontent.com/u/89221222/EYE.svg');
  background-image-size:cover;
  background-repeat:no-repeat;   
}

.eye.happy{
  opacity: 0;
}

.mouth.happy{
  opacity: 0;
}

.gotchi-1.happy{
  background-image: url('https://dl.dropboxusercontent.com/u/89221222/2_Tadpole_Happy.svg');
}

.gotchi-3.happy{
  background-image: url('https://dl.dropboxusercontent.com/u/89221222/5_Adult_Hungry.svg');
}

.turn{
  transform:rotate(90deg);
}
.gotchi-1.turn{
  transform: translateX(150px) rotate(45deg);
}
.gotchi-2.turn{
  transform: translateX(150px) rotate(45deg);
}
.gotchi-3.turn{
  transform: translateX(150px) rotate(45deg);
}

.mouth{
  float:left;
  margin-top:23%;
  margin-left:-35%;
  z-index:998;
  height:72px;
  width:72px;
  background-image:url('https://dl.dropboxusercontent.com/u/89221222/mouth.svg');
  background-image-size:cover;
  background-repeat:no-repeat; 
}

.gname{
  display:inline-block;
  margin-left:370px;
  text-align: center;
  color:lightgreen;
  text-shadow:2px 2px 2px green;
  letter-spacing: .1em;
  font-family: 'VT323', monospace; 
  z-index: 977;
  width:200px;
  position: relative;
}


.gotchi.died{
  opacity: .7;
  -webkit-filter: grayscale(100%);
  transform:translateY(-100vh);
}
/*<><><><><><><>FOOD<><><><><><><>*/
.food{
  position: relative;
  z-index: 997;
  width:10px;
  height:10px;
  transition:0s;
  opacity: 0;
  margin-top:-50%;
  margin-left: 10%;
  display:block;
  background-image: url('https://dl.dropboxusercontent.com/u/89221222/Brain.svg');
  background-size:100% auto;
  background-repeat: no-repeat;
}
.food.eat{
  opacity: 1;
  width:80px;
  height:80px;
  margin-top:-500px;
  margin-left: 300px;
  transition:1s;
}
/*<><><><><><><>TUB<><><><><><><>*/

.bathtub{
 background-image:url('https://dl.dropboxusercontent.com/u/89221222/Tub.svg');
 width:600px;
 height:600px;
 margin-left:-105%;
 margin-top:-360px;
 position: relative;
 z-index: 998;
 transition:.5s ease-out;
}

.bathtubshow{
  opacity: 1;
  margin-left:270px;
   @media screen and (max-width: $break-small) {
    width: 550px;
    height:550px;
  }
}



/*<><><><><>GRAVEYARD<><><><><>*/
.yard{
  background-color: black;
  position: fixed;
  z-index: 996;
  width:100vw;
  height:20vh;
  bottom:0;
  display:block;

}
.grave{
  padding: 0;
  width:100px;
  height:100px;
  background-image: url('https://dl.dropboxusercontent.com/u/89221222/8Bit_Tombstone.svg');
  background-size:100% auto;
  background-repeat: no-repeat;
  position: relative;
  /*display: inline-block;*/
  float:left;
  bottom:10px;
  transition:1s;
  z-index: 9999;
}

.grave:first-child{
  margin-left:5%;
  height:175px;
  transform:rotate(-5deg);
}

.grave:nth-child(2){
  margin-left: 10%;
  height:275px;
  transform:rotate(5deg);
}
.grave:nth-child(3){
  margin-left: 25%;
  height:150px;
  transform:rotate(2deg);
}
.grave:nth-child(4){
  margin-left: 7%;
  transform: rotate(-1deg);
  
}
.grave:nth-child(5){
  margin-left: 2%;
  height:120px;
  transform: rotate(-4deg);
}

.grave:nth-child(6){
  margin-left: 5%;
  transform:rotate(5deg);
}

.grave:nth-child(7){
  margin-left: 5%;
  height:105px;
  transform:rotate(-2deg);
}

.grave:hover{
  height:Calc(20% + 5px);
  margin-top:5%;
}

/*<><><><><>FACEBOOK<><><><><>*/

.fb-login-button{
  border-radius: 1px;
  width:40px;
  height:40px;
  overflow: hidden;
  margin-left:80%;
  position:absolute;
  z-index: 8888;
  bottom:0;

  span{
    font-size: 0px;
  }

  
}


/*<><><><><>DEATH MODAL<<><><><><>*/
.death{
  display: none;
  opacity: 1;
  padding:15px;
}

.death-show{
  display: block;
}
.deathmessage{
  font-family: 'VT323',monospace;
  text-shadow:1px 1px 1px red;
}
/*<><><><><>PRELOADER<><><><><><><>*/


.preloader {
  z-index: 9999;
  position: absolute;
  margin-left: -55px;
  margin-top: -100px;
  height: 110px;
  width: 110px;
  left: 50%;
  top: 50%;
}


/* Rain */
.rain {
  position: absolute;
  width: 70px;
  height: 700px;
  margin-top: -32px;
  margin-left: 17px;
}

.drop {
  opacity: 1;
  background: red;
  display: block;
  float: left;
  width: 2px;
  height: 10px;
  margin-left: 4px;
  
  animation-name: drop;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
}

.drop:nth-child(1) {
  animation-delay: -130ms;
}

.drop:nth-child(2) {
  animation-delay: -240ms;
}

.drop:nth-child(3) {
  animation-delay: -390ms;
}

.drop:nth-child(4) {
  animation-delay: -525ms;
}

.drop:nth-child(5) {
  animation-delay: -640ms;
}

.drop:nth-child(6) {
  animation-delay: -790ms;
}

.drop:nth-child(7) {
  animation-delay: -900ms;
}

.drop:nth-child(8) {
  animation-delay: -1050ms;
}

.drop:nth-child(9) {
  animation-delay: -1130ms;
}

.drop:nth-child(10) {
  animation-delay: -1300ms;
}


@keyframes drop {
  50% {
    height: 200px;
    opacity: 0;
  }

  51% {
    opacity: 0;
  }

  100% {
    height: 1px;
    opacity: 0;
  }
}

.text{
  display:block;
  margin:0 auto;
  font-family:'VT323',monospace;
  letter-spacing: .1em;
  color:lightgreen;
  font-size:2em;
}


/*<><><><><>SCROLLTOME<<><><><><><>*/

.scrolltome{
  margin-left:110vw;
}

