

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$input-border-color: white !default;
$secondary-color: white !default;

@import 'materialize';

@import url(http://fonts.googleapis.com/css?family=VT323);

@font-face {
  font-family: 'Pokemon GB Japan HR';
  src: url('/assets/Pokemon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PokemonKT';
  src: url('/assets/PokemonKT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*<><><><><>MEDIAQUERIES IN SCSS<<><><><><><>*/

$mobile-small: 540px; /*240px;*/
$mobile-large: 640px;/*320px;*/


/*<><><><><><><><>*/
body{
  background: -webkit-linear-gradient(black, midnightblue, maroon); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, midnightblue, maroon); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, midnightblue, maroon); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, midnightblue, maroon); /* Standard syntax */
  background-repeat: repeat;
  height:100vh;
  overflow: auto;
  padding-top:2%;
}

/*<><><><><>TITLE<><><><><>*/
.titleAndeddo{
  left:30%;
  margin-top:-1%;
  position: fixed;
  z-index: 9999;
  color:lightgreen;
  text-shadow:2px 2px 2px green;
  text-align: center;
  margin-left:3%;
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  -webkit-animation-name: floating;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  @media screen and (max-width: $mobile-small) {
    left:6%;
  }
  @media screen and (max-width: $mobile-large) {
    left:6%;
  }
}

.titleAndeddo.small{
  font-size: 1.5em;
  z-index: 9777;
  right:5px;
  text-align: right;
  @media screen and (max-width: $mobile-small) {
    display:none;
  }
  @media screen and (max-width: $mobile-large) {
    display:none;
  }
}


/*<><><><><>GENERAL MODAL STYLING<><><><><>*/


/*<><><><><>SIGN UP<><><><><>*/
.starting{
  margin-top:5%;
}
.login{
  opacity: 0;
  display: none;
  height:0;
  transition: height 0.75s ease, opacity 0.5s ease 0.05s;
  z-index: 999;
  position: relative;
}


.signup{
  height:250px;
  opacity: 1;
  transition: height 0.75s ease, opacity 0.5s ease 0.05s;

}
.grayitout{
    opacity: .7;
  -webkit-filter: grayscale(80%);
}
#new:hover{
  background-color: lightgreen;
}

.lower{
  transition:opacity 0.1s ease 0.75s;
}

.show{
  opacity: 1;
  display:block;
  height:300px;
}
.collapse{
  opacity: 0;
  height:0;
}

/*.collapse .lower {
  display:none;
}*/

.button{
 position:relative;
 font-family: 'VT323', monospace;
 font-size: 1.5em;
 display: block;
 margin:0 auto;
 padding:0;
 color:#FFF;
 background-color: black;
 border:1px solid white;
}

.button:hover{
  color:black;
  background-color: lightgreen;
}

#new{
  cursor: pointer;
}

#togglelog{
  margin-top:2%;
  cursor: pointer;
  position: relative;
  z-index: 9999;
}

#togglelog:hover{
  background-color: lightgreen;
  color:black;
}
#new:hover{
  background-color: lightgreen;
  color:black;
}
.modal{
  visibility: visible;
  display:block;
  opacity: .9;
  padding:5px;
  color:#FFF;
  z-index: 9999;
  position: fixed;
  width:50vw;
  height:90vh;
  margin-top:5%;
  background-color: black;
  @media screen and (max-width: $mobile-small) {
    width:100vw;
    height:100vh;
    margin-top:15%;
  }
  @media screen and (max-width: $mobile-large) {
    width:100vw;
    height:100vh;
    margin-top:15%;
  }
    h3{
      text-align:center;
      padding-top:5px;
      font-size:2em;
      padding-bottom:0;
      font-family: 'VT323', monospace;
      text-shadow:1px 1px 1px green;
      letter-spacing: .1em;
      text-transform: uppercase;
        span{
          padding:0;
          font-size:.5em;
          display: inline-block;
          width:80%;
        }
    }
}
form{
  margin:0;
  padding:0;
}

.backgreen{
  background:lightgreen;
  color:#000;
}
.modal input{
  text-align: center;
  font-size: 2em;
  font-family: 'VT323', monospace;
  letter-spacing: .1em;
}
.modal label{
  text-align: center;
}

.lower{
  position:relative;
  z-index: 9888
}


.logout{
  position: fixed;
  margin-top:2%;
  margin-left:90%;
  z-index: 9999;
  @media screen and (max-width: $mobile-small) {
    margin-top:10%;
  }
  @media screen and (max-width: $mobile-large) {
     margin-top:10%;
  }
  
}
/*<><><><><>DEATH MODAL<<><><><><>*/
.death{
  display: none;

}

.grabThis{
  opacity: 1;
  padding:0 25px;
  position: fixed;
  z-index: 9998;
  height:70vh;
  @media screen and (max-width: $mobile-small) {
    width:100vw;
    height:100vh;
  }
  @media screen and (max-width: $mobile-large) {
    width:100vw;
    height:100vh;
  }
}

.death-show{
  display: block;
}
.deathmessage{
  font-family: 'VT323',monospace;
  text-shadow:1px 1px 1px red;
  text-align: center;
}

/*<><><><><>FACEBOOK<><><><><>*/

.fb-login-button{
  border-radius: 1px;
  width:45px;
  height:40px;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  span{
    width:20px;
    display: inline-block;
    iframe{
      width: 20px;
      display: inline-block;
    }
  }
 
 .fb_iframe_widget span{
  width:20px;
  height:20px;
  position: absolute;
 }

  .pluginLoginButton{
    width:20px;
    height:20px;
      ._4z_e img{
        width:20px;
        height:20px;
      }
  }
  
  
  span{
    font-size: 0px;
  }


}



/*<><><><><>PRELOADER<><><><><><><>*/


.preloader {
  z-index: 9999;
  position: absolute;
  margin-left: -55px;
  margin-top: -100px;
  height: 110px;
  width: 110px;
  left: 50%;
  top: 50%;
}


/* Rain */
.rain {
  position: absolute;
  width: 70px;
  height: 700px;
  margin-top: -32px;
  margin-left: 17px;
}

.drop {
  opacity: 1;
  background: red;
  display: block;
  float: left;
  width: 2px;
  height: 10px;
  margin-left: 4px;

  animation-name: drop;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
}

.drop:nth-child(1) {
  animation-delay: -130ms;
}

.drop:nth-child(2) {
  animation-delay: -240ms;
}

.drop:nth-child(3) {
  animation-delay: -390ms;
}

.drop:nth-child(4) {
  animation-delay: -525ms;
}

.drop:nth-child(5) {
  animation-delay: -640ms;
}

.drop:nth-child(6) {
  animation-delay: -790ms;
}

.drop:nth-child(7) {
  animation-delay: -900ms;
}

.drop:nth-child(8) {
  animation-delay: -1050ms;
}

.drop:nth-child(9) {
  animation-delay: -1130ms;
}

.drop:nth-child(10) {
  animation-delay: -1300ms;
}


@keyframes drop {
  50% {
    height: 200px;
    opacity: 0;
  }

  51% {
    opacity: 0;
  }

  100% {
    height: 1px;
    opacity: 0;
  }
}

.text{
  display:block;
  margin:0 auto;
  font-family:'VT323',monospace;
  letter-spacing: .1em;
  color:lightgreen;
  font-size:2em;
}


/*<><><><><>SCROLLTOME<<><><><><><>*/

.scrolltome{
  margin-left:110vw;
}

/*<><><><><>MODAL SHIT<><><><><>*/
.notShown{
  transition:1s;
  display:none;
}
.notLoggedIn{
  transition:1s;
  display:block;
}
.navBarYes{
  transition:1s;
  display:inline-block;
}
