<!DOCTYPE html>
<html>
<head>
  <title>Andeddogotchi</title>

</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1653771621504537',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  FB.ui({
    method: 'share_open_graph',
    action_type: 'og.likes',
    action_properties: JSON.stringify({
      object:'https://developers.facebook.com/docs/',
    })
  }, function(response){
    // Debug response (optional)
    console.log(response);
  });

  FB.getLoginStatus(function(response) {
    if (response.status === 'connected') {
      console.log('Logged in.');
    } else {
      FB.login();
    }
  });

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


</script>

<%= yield %>

</body>
</html>
