<!-- PRELOADER -->
<div class="preloader" style="opacity: 1; ">
<div class="rain">
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
</div>
<span class='text'> LOADING </span>
</div>
<!-- CREATE USER MODAL -->
<div ng-class="ac.loggedIn ? 'notShown' : 'shown'">
  <h1 class='titleAndeddo'>  Andeddogotchi!</h1>
<!--   <span class='subtitle'> Andeddogotchi! <span> -->
  <div class="modal starting">
    <!-- CREATE AN ACCOUNT -->
      <h3 id='new' class='backgreen'>resurrect an andeddogotchi!</br> <span>create an account or use FB </span> <div id="fb-root"></div>
  <%= javascript_include_tag "facebookStuff" %>
  <script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js"></script>
  <div id="status"></div>
  <div onlogin="checkLoginState()" class="fb-login-button" data-auto-logout-link='true' data-max-rows="1" data-size="xlarge" data-show-faces="true" data-auto-logout-link="false"></div></h3>
      <form class="signup col s12" ng-submit="ac.createUser()">

          <div class="input-field">
              <input id='name' class="disable-by-facebook validate" type="text" ng-model="ac.user.name">
              <label for='name'>Name</label>
          </div>

          <div class="input-field">
              <input id='password' class="disable-by-facebook validate" type="password" ng-model="ac.user.password">
              <label for='password'>Password (at least 8 characters)</label>
          </div>

              <div class="input-field">
                  <input id='gotchiname' class='validate' type="text" ng-model="ac.user.gotchi_name">
                  <label for='gotchiname'>Name your Andeddogotchi</label>
              </div>

          <input class='button cutesound'  type="submit" value="Let's Go!">
      </form>
      <!-- LOG IN -->
      <h3 id='togglelog'>or click here to log in</h3>
      <form class="col s12 login" ng-submit="ac.login()">
          <div class="input-field">
              <input id='name' class="disable-by-facebook validate" type="text" ng-model="ac.user.name">
              <label for="name">Name</label>
          </div>
          <div class="input-field">
              <input id='password' class="disable-by-facebook validate" type="password" ng-model="ac.user.password">
              <label for="password">Password</label>
          </div>
          <input class="button cutesound" type="submit" value="Play!">
      </form>
  </div>
</div>
<!-- ACCORDION LOGIC -->
<script>
$('#togglelog').on('click', function(){
   $('.signup').addClass('collapse');
   $('.login').addClass('show');
   $('#togglelog').addClass('backgreen');
   $('#new').removeClass('backgreen');
})

$('#new').on('click', function(){
   $('#new').addClass('backgreen');
   $('.login').removeClass('show');
   $('.signup').removeClass('collapse');
   $('#togglelog').removeClass('backgreen');
})
</script>

<!-- DEATH MODAL -->
<div>
<div ng-class="(ac.loggedIn && ac.gotchiName && !ac.gotchi.age) ? 'death-show modal grabThis' : 'death modal grabThis'">
  <form class="col s12 create-gotchi" ng-submit="ac.deadGotchi()">
  </br></br></br>
   <h4 class='deathmessage'> Your Andeddogotchi is dead. </br>Want to resurrect another?</h4>
   </br></br>
   <div class='row'>
     <div class="input-field">
       <input id='gotchiname' class='validate' type="text" ng-model="ac.newName">
       <label for='gotchiname'>Name your new Andeddogotchi</label>
     </div>
   </div>
   <input class="letsgo button" type="submit" value="Let's Go!">
 </div>
</form>
</div>

<!-- LOGOUT BUTTON -->


<form id="logout" ng-class="ac.loggedIn ? 'logout' : 'notShown'"  ng-submit="ac.logOut()">
  <input class="letsgo button" type="submit" value="Log out">
</form>


<!-- MESSAGE/ MAYBE FLASH MESSAGE -->
<span class='messagealert'> your andeddogotchi is already doing that!<div class='triangle'></div></span>


<!-- PLAY AREA -->
<div class='play'>
<h1 ng-class="ac.loggedIn ? 'small titleAndeddo' : 'notShown'">Andeddogotchi!</h1>
<!-- <span ng-class="ac.loggedIn ? 'small subtitle' : 'notShown'"> Andeddogotchi! <span> -->
<!-- MESSAGE/ INSTRUCTIONS -->
<span ng-class="ac.loggedIn ? 'messagealert2' : 'notShown'"> Feed your andeddogotchi brainz or foot!<div class='triangle2'></div></span>
<span ng-class="ac.loggedIn ? 'messagealert3' : 'notShown'"> Shower your andeddogotchi with BLOOD for mood!<div class='triangle3'></div></span>
<!-- NAV BAR-->
    <div ng-class="ac.loggedIn ? 'nav' : 'notShown'">
        <!-- food -->
        <label>Food</label>
        <div class='brain'></div>
        <div class='foot'></div>
        <!-- rest-->
        <label>Mood</label>
        <div class='sun'></div>
        <div class='moon gray'></div>
    </div>
    <!-- CANVAS -->
    <div ng-class="ac.loggedIn ?  'canvas': 'notShown'"></div>
<!-- STATS BAR -->
    <div ng-class="ac.loggedIn ? 'stats' : 'notShown'">
      <label class="fullnessLevel"><span>Hungry</span> <span>Full</span></label>
      <div class='bar'>
        <div class='fillfull'></div>
      </div>
      <label class="healthLevel"><span>mad</span> <span>ok</span></label>
      <div class='bar'>
        <div class='fillhealth'></div>
      </div>
      <label>Age: {{ac.gotchiLife}}</label>


        <span class='agedisplay'>{{ac.gotchi.age}} afterlife days old</span>


    </div>
  <!-- GOTCHI -->
    <div ng-class="ac.loggedIn ? 'shown gotchi' : 'notShown gotchi'">
      <h3 class="gname">{{ac.gotchiName}}</h3>
      <div ng-show="!!ac.gotchi" class="thegotchi gotchi-{{ac.gotchi.age}}">
        <div class='eye'></div>
        <div class='eye'></div>
        <div class='mouth'></div>
      </div>
    </div>

    <!-- BATHTUB -->
    <div ng-class="ac.loggedIn ?  'bathtub': 'notShown'"></div>
    <!-- FOOD ANIMATION-->
    <div class='food'></div>
    <!-- GRAVE YARD -->
    <div class='yard'>
    <div class='grave'></div>
    <div class='grave'></div>
    <div class='grave'></div>
    <div class='grave'></div>
    <div class='grave'></div>
  </div>
</div>
<div class='scrolltome'></div>
<script>
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><><><>PRELOADER<><><><><><><><><><><><>*/
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/

// Wait for window load
$(window).load(function() {
  // Animate loader off screen
  $(".preloader").fadeOut("slow");;
});
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><><><>SUN + MOON<><><><><><><><><><><><>*/
/*<><><>For some reason it only works here<><><><><><><>*/
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/

/*<><><><>REST<><><><>*/
/*<><sleep/bloodbath><>*/

if(($('.thegotchi').hasClass('gotchi-2'))||($('.thegotchi').hasClass('gotchi-3'))){
$('.eye').addClass('happy');
$('.mouth').addClass('happy');
}
$('.eye:nth-child(2)').on('mouseover', function(){
$('.eye:nth-child(2)').addClass('turn');
winkSound.play()
setTimeout(function(){
  $('.eye:nth-child(2)').removeClass('turn');
},300);
})
$('.sun').on('click',function(){
console.log('cat');
//check to see if it's already clicked
  if($('.sun').hasClass('gray')){
    //flash message
    $('.messagealert').addClass('showmessage');
    //clear it
    var clear = function(){
      $('.messagealert').removeClass('showmessage');
    };
    setTimeout(clear,2000);
  } else{
    showerSound.play();
      //if its not clicked bring on the bloood
      setTimeout(bloodbath,1000);
      $('.gotchi-1').addClass('turn');
      $('.gotchi-2').addClass('turn');
      $('.gotchi-3').addClass('turn');
      $('.bathtub').addClass('bathtubshow');
      $('.eye').addClass('turn');
      $('.sun').addClass('gray');
      $('.moon').removeClass('gray');
      
      $('.messagealert3').addClass('hidemessage');
    }
});


//Wake up

$('.moon').on('click',function(){
  //check if its already clicked
  if($('.moon').hasClass('gray')){
    console.log('imhere');
    $('.messagealert').addClass('showmessage');
    var clear = function(){
      $('.messagealert').removeClass('showmessage');
    };
    setTimeout(clear,2000);
  } else{
      var clear2 = function(){
        $('canvas').addClass('hide');
      };
      
      setTimeout(clear2,100);
      $('.gotchi-1').removeClass('turn');
      $('.gotchi-2').removeClass('turn');
      $('.gotchi-3').removeClass('turn');
      $('.bathtub').removeClass('bathtubshow');
      $('.eye').removeClass('turn');
      $('.moon').addClass('gray');
      $('.sun').removeClass('gray');
    }
});


//food

$('.brain').on('click', function(){
$('.food').addClass('eat');
$('.eye').addClass('happy');
$('.mouth').addClass('happy');
$('.gotchi-1').addClass('happy');
$('.gotchi-3').addClass('happy');
$('.messagealert2').addClass('hidemessage');
foodSound.play();
setTimeout(function(){
  $('.food').removeClass('eat');
  if(($('.thegotchi').hasClass('gotchi-1'))){
    $('.eye').removeClass('happy');
    $('.mouth').removeClass('happy');
  }
  $('.gotchi-1').removeClass('happy');
  $('.gotchi-3').removeClass('happy');
},1000)
})

$('.cutesound').on('click', function(){
  loadingSound.play();
})

/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/
/*<><><><><>VELOCITY SHIT<><><><><><><>*/
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/

$('.brain').on('mouseover', function(){
  $('.thegotchi').velocity({scaleX:(-1)},100);
  

})
$('.brain').on('mouseout', function(){
  $('.thegotchi').velocity({scaleX:(1)},100);

})

setInterval(function(){
  $('.thegotchi').velocity({marginLeft: '550px'},2000).velocity({marginLeft: '350px'},2000);
},5000)

</script>
