<!-- PRELOADER -->
<div class="preloader" style="opacity: 1; ">
<div class="rain">
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
</div>
<span class='text'> LOADING </span>
</div>
<!-- CREATE USER MODAL -->
<div ng-class="ac.loggedIn ? 'notShown' : 'shown'">
  <h1 class='titleAndeddo'>あんでっどごち!</h1>
  <div class="modal starting">
    <!-- CREATE AN ACCOUNT -->
      <h3 id='new'>Create an account!</h3>
      <form class="signup col s12" ng-submit="ac.createUser()">
          <div class="input-field">
              <input id='name' class="disable-by-facebook validate" type="text" ng-model="ac.user.name">
              <label for='name'>Name</label>
          </div>

          <div class="input-field">
              <input id='password' class="disable-by-facebook validate" type="password" ng-model="ac.user.password">
              <label for='password'>Password</label>
          </div>

          <div class='row'>
              <div class="input-field">
                  <input id='gotchiname' class='validate' type="text" ng-model="ac.user.gotchi_name">
                  <label for='gotchiname'>Name your Andeddogotchi</label>
              </div>
          </div>

          <input class='button lower' type="submit" value="Let's Go!">
      </form>
      <!-- LOG IN -->
      <h3 id='togglelog'>Log In!</h3>
      <form class="col s12 login" ng-submit="ac.login()">
          <div class="input-field">
              <input id='name' class="disable-by-facebook validate" type="text" ng-model="ac.user.name">
              <label for="name">Name</label>
          </div>
          <div class="input-field">
              <input id='password' class="disable-by-facebook validate" type="password" ng-model="ac.user.password">
              <label for="password">Password</label>
          </div>
          <input class="letsgo button" type="submit" value="Let's Go!">
      </form>
  </div>
</div>
<!-- ACCORDION LOGIC -->
<script>
$('#togglelog').on('click', function(){
   $('.signup').addClass('collapse');
   $('.login').addClass('show');
})

$('#new').on('click', function(){
   $('.login').removeClass('show');
   $('.signup').removeClass('collapse');
})
</script>

<!-- DEATH MODAL -->
<div ng-class="(ac.gotchiName && isDead) ? 'death-show modal' : 'death modal'">
<form class="col s12 create-gotchi" ng-submit="ac.deadGotchi()">
</br></br></br>
 <h4 class='deathmessage'> Your Andeddogotchi is dead. Want to resurrect another?</h4>
 <div class='row'>
   <div class="input-field">
     <input id='gotchiname' class='validate' type="text" ng-model="ac.newName">
     <label for='gotchiname'>Name your new Andeddogotchi</label>
   </div>
   <input class="letsgo button" type="submit" value="Let's Go!">
 </div>
</form>
</div>

<!-- LOGOUT BUTTON -->


<form id="logout" ng-class="ac.loggedIn ? 'logout' : 'notShown'"  ng-submit="ac.logOut()">
  <input class="letsgo button" type="submit" value="Log out">
</form>


<!-- MESSAGE/ MAYBE FLASH MESSAGE -->
<span class='messagealert'> your andeddogotchi is already doing that!<div class='triangle'></div></span>


<!-- PLAY AREA -->
<div class='play'>
<h1 class='titleAndeddo small'>あんでっどごち!</h1>
<!-- NAV BAR-->
    <div ng-class="ac.loggedIn ? 'nav' : 'notShown'">
        <!-- food -->
        <label>Food</label>
        <div class='brain'></div>
        <div class='foot'></div>
        <!-- rest-->
        <label>Rest</label>
        <div class='sun'></div>
        <div class='moon gray'></div>
    </div>
    <!-- CANVAS -->
    <div class='canvas'></div>
<!-- STATS BAR -->
    <div ng-class="ac.loggedIn ? 'stats' : 'notShown'">
      <label class="fullnessLevel">Fullness</label>
      <div class='bar'>
        <div class='fillfull'></div>
      </div>
      <label class="healthLevel">Health</label>
      <div class='bar'>
        <div class='fillhealth'></div>
      </div>
      <label>Age</label>


        <span class='agedisplay'>{{ac.gotchi.age}} afterlife days old</span>


    </div>
  <!-- GOTCHI -->
    <div ng-class="ac.loggedIn ? 'shown gotchi' : 'notShown gotchi'">
      <h3>{{ac.gotchiName}}</h3>
      <div class="thegotchi gotchi-{{ac.gotchi.age}}">
        <div class='eye'></div>
        <div class='eye'></div>
        <div class='mouth'></div>
      </div>
    </div>

    <!-- BATHTUB -->
    <div class='bathtub'></div>
    <!-- FOOD ANIMATION-->
    <div class='food'></div>
    <!-- GRAVE YARD -->
    <div class='yard'>
    <div class='grave'></div>
    <div class='grave'></div>
    <div class='grave'></div>
    <div class='grave'></div>
    <div class='grave'></div>
  </div>
</div>
<div class='scrolltome'></div>
<script>
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><><><>PRELOADER<><><><><><><><><><><><>*/
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/

// Wait for window load
$(window).load(function() {
  // Animate loader off screen
  $(".preloader").fadeOut("slow");;
});
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><><><>SUN + MOON<><><><><><><><><><><><>*/
/*<><><>For some reason it only works here<><><><><><><>*/
/*<><><><><><><><>><><><><><><><><><><><><><><><><><><>*/

/*<><><><>REST<><><><>*/
/*<><sleep/bloodbath><>*/

if(($('.thegotchi').hasClass('gotchi-2'))||($('.thegotchi').hasClass('gotchi-3'))){
$('.eye').addClass('happy');
$('.mouth').addClass('happy');
}
$('.eye:nth-child(2)').on('mouseover', function(){
$('.eye:nth-child(2)').addClass('turn');
setTimeout(function(){
  $('.eye:nth-child(2)').removeClass('turn');
},300);
})
$('.sun').on('click',function(){
console.log('cat');
//check to see if it's already clicked
  if($('.sun').hasClass('gray')){
    //flash message
    $('.messagealert').addClass('showmessage');
    //clear it
    var clear = function(){
      $('.messagealert').removeClass('showmessage');
    };
    setTimeout(clear,2000);
  } else{
      //if its not clicked bring on the bloood
      setTimeout(bloodbath,1000);
      $('.gotchi-1').addClass('turn');
      $('.gotchi-2').addClass('turn');
      $('.gotchi-3').addClass('turn');
      $('.bathtub').addClass('bathtubshow');
      $('.eye').addClass('turn');
      $('.sun').addClass('gray');
      $('.moon').removeClass('gray');
    }
});


//Wake up

$('.moon').on('click',function(){
  //check if its already clicked
  if($('.moon').hasClass('gray')){
    console.log('imhere');
    $('.messagealert').addClass('showmessage');
    var clear = function(){
      $('.messagealert').removeClass('showmessage');
    };
    setTimeout(clear,2000);
  } else{
      var clear2 = function(){
        $('canvas').addClass('hide');
      };

      setTimeout(clear2,100);
      $('.gotchi-1').removeClass('turn');
      $('.gotchi-2').removeClass('turn');
      $('.gotchi-3').removeClass('turn');
      $('.bathtub').removeClass('bathtubshow');
      $('.eye').removeClass('turn');
      $('.moon').addClass('gray');
      $('.sun').removeClass('gray');
    }
});


//food

$('.brain').on('click', function(){
$('.food').addClass('eat');
$('.eye').addClass('happy');
$('.mouth').addClass('happy');
$('.gotchi-1').addClass('happy');
$('.gotchi-3').addClass('happy');
setTimeout(function(){
  $('.food').removeClass('eat');
  $('.eye').removeClass('happy');
  $('.mouth').removeClass('happy');
  $('.gotchi-1').removeClass('happy');
  $('.gotchi-3').removeClass('happy');
},1000)
})


</script>
